.mybtns {
  padding: 10px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 1.3em;

}
.blue {
  background-color: #82FFD0;
}
.lightblue {
  background-color: lightblue;
}

#test {
  border: #000 1px solid;
  padding: 10px 40px 40px 10px;
}
input[type="radio"] {
  margin: 0 10px 10px 0;

}
.submitBtn {
  margin: 5px 0 0 0;
  padding: 7px 7px;
  font-size: .9em;
  border-radius: 3px;
}